<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script>
        	$.ajax({
				type: "GET",
				url: "localhost:8000/films",
				success: function(data){
					console.log(data);
				}
			});
        </script>
    </body>
</html>
